[submodule "roles/ansible-sshd"]
	path = roles/ansible-sshd
	url = git@github.com:open-infrastructure/ansible-base.git
[submodule "roles/ansible-base"]
	path = roles/ansible-base
	url = git@github.com:open-infrastructure/ansible-base.git
[submodule "roles/ansible-strongswan"]
	path = roles/ansible-strongswan
	url = git@github.com:open-infrastructure/ansible-strongswan.git
[submodule "roles/ansible-prometheus"]
	path = roles/ansible-prometheus
	url = git@github.com:cloudalchemy/ansible-prometheus.git
[submodule "roles/ansible-node-exporter"]
	path = roles/ansible-node-exporter
	url = git@github.com:cloudalchemy/ansible-node-exporter.git
[submodule "roles/ansible-grafana"]
	path = roles/ansible-grafana
	url = https://github.com/cloudalchemy/ansible-grafana.git
[submodule "roles/ansible-nginx"]
	path = roles/ansible-nginx
	url = git@github.com:open-infrastructure/ansible-nginx.git
[submodule "roles/ansible-letsencrypt"]
	path = roles/ansible-letsencrypt
	url = git@github.com:open-infrastructure/ansible-letsencrypt.git
[submodule "roles/ansible-blackbox-exporter"]
	path = roles/ansible-blackbox-exporter
	url = git@github.com:cloudalchemy/ansible-blackbox-exporter.git
